
*
{
     padding: 0;
     margin: 0;
}
body
{
     display: flex;
     flex-direction: column;
     background-color: #cccccc;
}
#menu
{
     background-color: #a00019;
     height: 40px;
     width:100%;
     position: fixed;
     display: flex;
     justify-content: space-around;
     align-items: center;
     box-shadow: 5px 0px 25px #000000;
}
#menu a
{
     text-decoration: none;
     color: #eeeeee;
     font-size: 24pt;
}
#menu a #slash
{
     opacity: 0;
}
#menu a:hover > #slash
{
     transition: .25s;
     opacity: 1.0;
}
#sec1
{
     margin-top: 30px;
     background-color: #c11120;

}
#sec2
{
     background-color: #ffffff;

}
#sec3
{
     text-align: center;
     padding-top: 20px;
     padding-bottom: 20px;
}
#pageTitle
{
     text-align: center;
     color: #ffffff;
     font-size: 128px;
}
#sec2 #slash
{
     color: #999999;
     font-weight: bold;
     font-size: 36pt;
}
#intro
{
     padding-top: 10px;
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
}
#bio
{
     font-size: 18pt;
     text-align: center;
     font-weight: bold;
}
#profile
{
     max-width: 150px;
     max-height: 150px;
     border-radius: 50%;
     padding-top: 10px;
}
.line
{
background-color: #cccccc;
height: 5px;
border: 0;
}
#we, #ed, #sk, #at, #aw
{
     padding-left: 100px;
     font-size: 36pt;
     padding-top: 60px;
}
.infoTxt
{
     font-size: 20pt;
     padding-left: 150px;
     padding-bottom: 10px;
}
.sideIcon
{
     max-width: 50px;
     max-height: 50px;
     padding-right: 25px;
     padding-left: 25px;
}
#imgRow
{
     display: flex;
     justify-content: center;
     align-items: center;
}
