*
{
     padding: 0;
     margin: 0;
}
body
{
     display: flex;
     flex-direction: column;

}
#menu
{
     background-color: #a00019;
     height: 30px;
     width:100%;
     position: fixed;
}
#sec1
{
     margin-top: 30px;
     background-color: #c11120;
     height 150px;
}
#sec2
{
     background-color: #ffffff;
     height: 600px;
}
#sec3
{
 background-color: #cccccc;
 height: 300px;
}
#pageTitle
{
     text-align: center;
     color: #ffffff;
     font-size: 64px;
}
